/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --black: #151515;
  --gray: #2C2E3A;
  --dark-red: #A91D3A;
  --red: #C73659;
  --white: #EEEEEE;
  --aqua: #00ffff;
  --mono: ui-monospace;
  --sans: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

/* src/Navbar.css */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.8rem;
  background-color: var(--gray);
  color: var(--white);
}

.navbar a {
  color: var(--white);
  text-decoration: none;
  margin: 0 1rem;
}

.navbar-search input {
  padding: 0.7rem;
  background-color: var(--black);
  border: 1px solid var(--white);
  width: 400px;
  border-radius: 15px 0px 0px 15px;
  height: 40px;
  color: var(--white);
}

.navbar-search button {
  background-color: var(--black);
  border: 1px solid var(--white);
  width: 40px;
  height: 40px;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
}

.navbar-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* switch settings 👇 */

.ui-switch {
  /* switch */
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  /* circle */
  --circle-diameter: 32px;
  --circle-bg: rgb(0, 56, 146);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  ;
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.ui-switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

.spinner-container {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 30px auto;
  overflow: hidden;
}

.spinner {
  position: absolute;
  width: calc(100% - 9.9px);
  height: calc(100% - 9.9px);
  border: 5px solid transparent;
  border-radius: 50%;
  border-top-color: #fff;
  -webkit-animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.79) infinite;
  animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.79) infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.movie-bar {
  width: 100%;
  height: 50px;
  padding: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
  background-color: var(--dark-red);
}

.movie-bar a {
  background: transparent;
  color: var(--black);
  border: none;
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  font-family: var(--mono);
  text-decoration: none;
}

.movie-bar :hover {
  background-color: var(--black);
  color: var(--white);
  border-radius: 40px;
}

.movie-bar :active {
  background-color: var(--black);
  color: var(--white);
  border-radius: 40px;
}

.movie-card {
  height: 400px;
  /* background: var(--black); */
  -webkit-box-shadow: 10px 10px 20px var(--red);
  box-shadow: 10px 10px 20px var(--red);
  /* box-shadow: 10px 10px 20px var(--black); */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 250px;
  padding: 10px;
  margin-top: 20px;
  margin: 25px;
  cursor: pointer;
}

.movie-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.movie-card img {
  border-radius: 10px;
  width: 200px;
  height: 300px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  max-width: 100%;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

.recommendations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 15px;
  overflow-x: scroll;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-close {
  position: absolute;
  top: 2px;
  right: 2px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: var(--dark-red);
}

.modal-content iframe {
  width: 100%;
  height: 90vh;
}

.poster-container img {
  height: 450px;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  width: 310px;
}

#checkboxInput {
  display: none;
}

.bookmark {
  cursor: pointer;
  background-color: teal;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
}

.svgIcon path {
  stroke-dasharray: 200 0;
  stroke-dashoffset: 0;
  stroke: white;
  fill: #dddddd00;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#checkboxInput:checked~.svgIcon path {
  fill: white;
  -webkit-animation: bookmark 0.5s linear;
  animation: bookmark 0.5s linear;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

@-webkit-keyframes bookmark {
  0% {
    stroke-dasharray: 0 200;
    stroke-dashoffset: 80;
  }

  100% {
    stroke-dasharray: 200 0;
  }
}

@keyframes bookmark {
  0% {
    stroke-dasharray: 0 200;
    stroke-dashoffset: 80;
  }

  100% {
    stroke-dasharray: 200 0;
  }
}

.view-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100px;
  height: 150px;
  background-color: #ccc;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.show-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  /* overflow-x: auto; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.show-all img {
  width: 30%;
  max-width: none;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.spinner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.recommendation {
  margin-right: 15px;
  text-align: center;
}

.recommendation img {
  border-radius: 5px;
  width: 100px;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;

}

.recommendation p {
  margin-top: 5px;
  font-size: 14px;
  cursor: pointer;
}

.recommendation-item {
  margin: 20px;
}

.recommendation-item img {
  border-radius: 10px;
}

.cast-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  padding: 10px;
}

.cast-member {
  margin-right: 50px;
  text-align: center;
}

.cast-member img {
  border-radius: 5px;
  width: 150px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.cast-member p {
  margin-top: 5px;
  font-size: 14px;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px;
  font-size: 25px;
}

.poster-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.poster-container img {
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-filter 0.3s ease;
  transition: -webkit-transform 0.3s ease, -webkit-filter 0.3s ease;
  -o-transition: transform 0.3s ease, filter 0.3s ease;
  transition: transform 0.3s ease, filter 0.3s ease;
  transition: transform 0.3s ease, filter 0.3s ease, -webkit-transform 0.3s ease, -webkit-filter 0.3s ease;
  display: block;
}

.poster-container:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.poster-container:hover .play-icon {
  opacity: 1;
}

.play-icon svg {
  width: 50px;
  height: 50px;
  fill: white;
  /* Adjust color as needed */
}

.movie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.movie-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 70px;
  margin: 70px 10px 10px 20px;
  margin-top: 70px;
}

.play-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background: -o-linear-gradient(60deg, rgb(255, 130, 0) 20%, rgb(255, 38, 0) 80%);
  background: linear-gradient(30deg, rgb(255, 130, 0) 20%, rgb(255, 38, 0) 80%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-box-shadow: rgba(193, 244, 246, 0.698) 0px 0px 0px 0px;
  box-shadow: rgba(193, 244, 246, 0.698) 0px 0px 0px 0px;
  -webkit-animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
  animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0;
}

.play-button:is(:hover, :focus) {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

@-webkit-keyframes pulse {
  100% {
    -webkit-box-shadow: 0 0 0 45px rgba(193, 244, 246, 0);
    box-shadow: 0 0 0 45px rgba(193, 244, 246, 0);
  }
}

@keyframes pulse {
  100% {
    -webkit-box-shadow: 0 0 0 45px rgba(193, 244, 246, 0);
    box-shadow: 0 0 0 45px rgba(193, 244, 246, 0);
  }
}

.movie-info p {
  font-family: var(--mono);
  font-weight: 900;
  font-size: 15px;
}

.movie-info h2 {
  font-size: 40px;
  font-family: var(--sans);
  font-weight: 900;
  text-transform: uppercase;
}

.media-img {
  margin: 10px;
}

.show-more {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 80%;
  background-color: var(--dark-red);
  border-radius: 10px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid var(--white);
  margin-bottom: 25px;
  margin-top: 15px;
}

.show-more button {
  background: transparent;
  border: none;
  font-size: 20px;
  font-family: var(--mono);
  font-weight: 500;
  color: var(--white);
  cursor: pointer;
}

.show-more button:hover {
  color: var(--black);
}

.show-load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.person-details {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.person-info {
  margin-left: 20px;
}

.movie-credits {
  margin-top: 40px;
}

.person-details img {
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}

.media-content {
  gap: 50px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: auto;
}

.media-content img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.media-slider {
  margin-top: 20px;
}

.media-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: var(--dark-red);
}

.media-buttons button {
  margin: 0px 30px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  font-family: monospace;
  cursor: pointer;
}

.media-buttons button.active {
  background-color: var(--black);
  width: 120px;
  border-radius: 30px;
  border: 2px solid var(--white);
}

/* Base styles */



.navbar .navbar-brand a,
.navbar .navbar-menu a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.navbar .toggle-button {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
}

.navbar .toggle-button div {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 4px 0;
}

.navbar .menu-bar {
  display: none;
}

.navbar .menu-bar .first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 100%;
}

.navbar .menu-bar .second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 100%;
}

.navbar .menu-bar .third-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 100%;
}

.navbar .menu-bar .four-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 100%;
}

.Play-movie {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: var(--black);
  padding: 1em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 2rem;
}

.Play-movie span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 63%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 24px;
  width: 40px;
  background-color: #0c66ed;
  border-radius: 50%;
  -webkit-transition: .6s ease;
  -o-transition: .6s ease;
  transition: .6s ease;
}

.Play-movie span:nth-child(6) {
  position: relative;
}

.Play-movie span:nth-child(1) {
  -webkit-transform: translate(-3.3em, -4em);
  -ms-transform: translate(-3.3em, -4em);
  transform: translate(-3.3em, -4em);
}

.Play-movie span:nth-child(2) {
  -webkit-transform: translate(-6em, 1.3em);
  -ms-transform: translate(-6em, 1.3em);
  transform: translate(-6em, 1.3em);
}

.Play-movie span:nth-child(3) {
  -webkit-transform: translate(-.2em, 1.8em);
  -ms-transform: translate(-.2em, 1.8em);
  transform: translate(-.2em, 1.8em);
}

.Play-movie span:nth-child(4) {
  -webkit-transform: translate(3.5em, 1.4em);
  -ms-transform: translate(3.5em, 1.4em);
  transform: translate(3.5em, 1.4em);
}

.Play-movie span:nth-child(5) {
  -webkit-transform: translate(3.5em, -3.8em);
  -ms-transform: translate(3.5em, -3.8em);
  transform: translate(3.5em, -3.8em);
}

.Play-movie:hover span:not(:nth-child(6)) {
  -webkit-transform: translate(-50%, -50%) scale(4);
  -ms-transform: translate(-50%, -50%) scale(4);
  transform: translate(-50%, -50%) scale(4);
  -webkit-transition: 1.5s ease;
  -o-transition: 1.5s ease;
  transition: 1.5s ease;
}

label {
  font-size: 15px;
  font-family: var(--sans);
  font-weight: 900;
}

.server-dropdown select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--black);
  border: 2px solid var(--aqua);
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 4px 8px var(--gray);
  box-shadow: 0 4px 8px var(--gray);
  margin-left: 10px;
}

.server-dropdown select:hover {
  border-color: #888;
}

.server-dropdown select:focus {
  outline: none;
  border-color: #007bff;
  -webkit-box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.server-dropdown {
  display: inline-block;
  margin-right: 10px;
}

.episodes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 15px;
  overflow-x: scroll;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.episode-card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 250px;
  padding: 10px;
  margin-top: 20px;
  margin: 25px;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 20px var(--red);
  box-shadow: 10px 10px 20px var(--red);
}

.episode-card img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 10px;
}

.episode-card p {
  padding: 5px;
  margin-top: 15px;
  max-width: 230px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie-card p {
  padding: 5px;
  margin-top: 15px;
  max-width: 230px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.no-results {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.no-results img {
  background-repeat: no-repeat;
  max-width: 450px;
}

.Btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: RGB(29, 185, 84);
}

.watchlist {
  font-family: var(--mono);
  font-weight: 900;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
}

/* plus sign */
.sign {
  width: 100%;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sign svg {
  width: 18px;
}

.sign svg path {
  fill: black;
}

/* text */
.text1 {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: black;
  font-size: 1.2em;
  font-weight: 600;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.text1 a {
  text-decoration: none;
  color: black;
}

/* hover effect on button width */
.Btn:hover {
  width: 190px;
  border-radius: 40px;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding-left: 20px;
}

/* hover effect button's text */
.Btn:hover .text1 {
  opacity: 1;
  width: 70%;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding-right: 10px;
}

/* button click effect*/
.Btn:active {
  -webkit-transform: translate(2px, 2px);
  -ms-transform: translate(2px, 2px);
  transform: translate(2px, 2px);
}

.keyword {
  max-height: 250px;
  width: 100%;
  padding: 10px;
  margin: 10px;
}

.movie-detail .keyword-list {
  margin: 10px;
  padding: 10px;
  color: var(--white);
  border-radius: 40px;
  background-color: var(--red);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100px;
  max-height: 35px;
  cursor: pointer;
}

.movie-detail .keyword-list p {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: var(--mono);
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  -webkit-animation: spin 1s ease infinite;
  animation: spin 1s ease infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}


.recommendation-card {
  height: 400px;
  /* background: var(--black); */
  -webkit-box-shadow: 10px 10px 20px var(--red);
  box-shadow: 10px 10px 20px var(--red);
  /* box-shadow: 10px 10px 20px var(--black); */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 250px;
  padding: 10px;
  margin-top: 20px;
  margin: 25px;
  cursor: pointer;
}

.watch-movie-contaner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.watch {
  width: 100%;
  height: 100vh;
}

.server-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* margin-bottom: 20px; */
  background-color: var(--dark-red);
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.server-select button {
  margin: 0px 30px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  font-family: monospace;
  cursor: pointer;
}

.server-select button.active {
  background-color: var(--black);
  width: 120px;
  border-radius: 30px;
  border: 2px solid var(--white);
}

.movie-title {
  max-width: 10.625rem;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Responsive styles */
@media (max-width: 877px) {
  .navbar-search input {
    width: 400px;
  }

  .navbar-search input.filled {
    width: 400px;
  }

  .navbar .navbar-brand,
  .navbar .navbar-menu,
  .navbar .dark-mode {
    display: none;
  }

  .navbar .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar .menu-bar {
    display: inline-block;
    position: fixed;
    top: 64px;
    left: -90%;
    width: 80%;
    height: 100%;
    background: rgb(3, 37, 65);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: 9999;
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .navbar .menu-bar.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: center;
    position: absolute;
  }

  .navbar .menu-bar ul {
    margin: 10px;
    list-style: none;
  }

  .navbar .menu-bar a,
  .navbar .menu-bar button {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    text-align: left;
  }

  .navbar .menu-bar a:hover,
  .navbar .menu-bar button:hover {
    background-color: #444;
  }

  .movie-info h2 {
    font-size: 20px;
  }

  .movie-info h3 {
    font-size: 15px;
  }

  .movie-info p {
    font-size: 10px;
  }
}

@media (max-width: 660px) {
  .movie-card img {
    width: 170px;
    height: 250px;
    padding: 10px;
    border-radius: 20px;
  }

  .movie-card {
    width: 200px;
    height: 350px;
    margin: 10px;
    padding: 0px;
  }

  h4 {
    font-size: 10px;
  }

  .person-details img {
    height: 350px;
    width: 250px;
  }

  .person-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .movie-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cast-member img {
    width: 100px;
    height: 150px;
  }

  .navbar-search input {
    width: 300px;
  }

  .navbar-search input.filled {
    width: 300px;
  }

  .no-results img {
    width: 350px;
  }
}

@media (max-width: 455px) {
  .navbar-search input {
    width: 200px;
  }

  .navbar-search input.filled {
    width: 200px;
  }

  .movie-bar a {
    font-size: 15px;
    font-weight: 600;
  }

  .movie-card {
    margin: 5px;
  }

  .poster-container img {
    height: 400px;
    width: 250px;
  }

  .no-results img {
    width: 250px;
  }
}

@media (max-width: 350px) {
  .navbar-search input {
    width: 150px;
  }

  .navbar-search input.filled {
    width: 150px;
  }

  .movie-bar a {
    font-size: 13px;
  }
}

/* CSS when search bar is filled */
.navbar-search input.filled {
  border-radius: 15px 0px 0px 0px;
}

.navbar-search button.filled {
  background-color: var(--black);
  border: 1px solid var(--white);
  width: 40px;
  height: 40px;
  border-radius: 0px 15px 0px 0px;
  cursor: pointer;
}

/* CSS for search results dropdown */
.search-results-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--black);
  border: 1px solid var(--white);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 0 0 15px 15px;
  cursor: pointer;
}

.search-result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.search-result-item svg {
  margin-right: 10px;
}

.search-result-item:hover {
  background-color: #333;
}

.navbar-search {
  position: relative;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--red);
}